{% extends 'base.html' %}

{% block content %}

<div class="container-fluid"> 
    <div class="row">
        <div class="col-12"> 
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">
                        {% if category %}
                            Edit Categories
                        {% else %}
                            Create Categories
                        {% endif %}
                    </h5> 
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Categorie Name" 
                            {% if category %} value="{{ category.name }}" {% endif %}>
                        </div>

                        {% if category %}
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary">Create</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
