{% extends 'base.html' %}

{% block content %}
<!-- Update Invoice Modals -->
{% for invoice in invoices %}
<div class="modal fade" id="updateInvoiceModal{{ invoice.id }}" tabindex="-1" aria-labelledby="updateInvoiceModalLabel{{ invoice.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateInvoiceModalLabel{{ invoice.id }}">Update Invoice #{{ invoice.id }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'invoice' %}">
                    {% csrf_token %}
                    {% with update_form=update_forms|lookup:invoice.id %}
                        {{ update_form.as_p }}
                        {% if update_form.errors %}
                            <div class="alert alert-danger">
                                {{ update_form.errors }}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <input type="hidden" name="update_submit_{{ invoice.id }}" value="1">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Update Invoice</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}