{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">
                        {% if product %}
                            Edit Product
                        {% else %}
                            Create Product
                        {% endif %}
                    </h5>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}  <!-- Dynamically render all fields from the ProductForm -->

                        {% if product %}
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary">Create Product</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
